.cs_container {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5rem;
  .controller {
    grid-row: 1;
  }
  .next_up {
    background-color: #afa;
  }
}
